<html>
<head>
    <title>Working...</title>
</head>
<body>
    <form method="post" name="hiddenform" action="<%= postUrl %>">
        <input type="hidden" 
               name="SAMLRequest" 
               value="<%= SAMLRequest %>">
        <input type="hidden" name="RelayState" value="<%= RelayState %>">
        <noscript>
            <p>
                Script is disabled. Click Submit to continue.
            </p><input type="submit" value="Submit">
        </noscript>
    </form>
    <script language="javascript" type="text/javascript">
        window.setTimeout('document.forms[0].submit()', 0);
    </script>
</body>
</html>